NET "axi_gpio_oled_dc_GPIO_IO_pin" IOSTANDARD = LVCMOS25;
NET "axi_gpio_oled_res_GPIO_IO_pin" IOSTANDARD = LVCMOS25;
NET "axi_spi_oled_MOSI_pin" IOSTANDARD = LVCMOS25;
NET "axi_spi_oled_SCK_pin" IOSTANDARD = LVCMOS25;
NET "axi_gpio_oled_dc_GPIO_IO_pin" LOC = U10;
NET "axi_gpio_oled_res_GPIO_IO_pin" LOC = U9;
NET "axi_spi_oled_SCK_pin" LOC = AB12;
INST "system_i/axi_spi_oled/axi_spi_oled/AXI_SPI_CORE_INTERFACE_I/SPI_MODULE_I/SPI_TRISTATE_CONTROL_III" LOC = OLOGIC_X0Y36;
INST "system_i/iobuf_4" LOC = AA12;
INST "system_i/axi_spi_oled/axi_spi_oled/AXI_SPI_CORE_INTERFACE_I/SPI_MODULE_I/OTHER_RATIO_GENERATE.MOSI_I_REG" LOC = ILOGIC_X0Y36;
NET "axi_spi_oled_MOSI_pin" LOC = AA12;
NET "axi_spi_oled_MISO_pin" IOSTANDARD = LVCMOS25;
NET "axi_spi_oled_SPISEL_pin" IOSTANDARD = LVCMOS25;
NET "axi_spi_oled_SS_pin" IOSTANDARD = LVCMOS25;
NET "axi_spi_oled_MISO_pin" LOC = T22;
NET "axi_spi_oled_SPISEL_pin" LOC = T21;
NET "axi_spi_oled_SS_pin" LOC = U22;
NET "axi_gpio_oled_vbat_GPIO_IO_pin" IOSTANDARD = LVCMOS25;
NET "axi_gpio_oled_vdd_GPIO_IO_pin" IOSTANDARD = LVCMOS25;
NET "axi_gpio_oled_vbat_GPIO_IO_pin" LOC = U11;
NET "axi_gpio_oled_vdd_GPIO_IO_pin" LOC = U12;
